 h4{
 color:blue;
 }
 
 form{
 color:white;
 }
 
 
 .carrierspan {
     width:150px;
     color: green;
     border-style: solid;
     border-width: 2px;
     float: left;
  }
  .carrierbreak {
      display:inline-block
  }
   
  .subtitle {
     color:blue;
     font-size: 18px;
  }
   .title {
     color:green;
     font-size: 40px;
     text-align:center;    
  }
  
  .carrierSubmit {
     color:white;
     background-color: green;
     font-size: 20px;
     
  }
  .help {
     visibility: hidden;
     position:fixed;
     top:200px;
     left:350px;
     width: 200px;
     background-color: yellow;
     border-style: solid;
     border-width: 2px;
     color: green;
  }
   .spanClass {
     width: 180px;
     color: green;
     float:left;
      
  }
  .divPad {
      float: left;
      border-style: solid;
      border-width: 2px;
      padding-left: 5px;
      padding-right: 5px;
      color:green;
  }
  .pad {
     padding-bottom: 5px;
     padding-bottom: 5px;
  }
 
 .errorblock {
	color: red;
	border: 3px solid #24c21a;
	padding: 8px;
	margin: 16px;
  }
  
  .clearBoth {
      clear: right;
   }
  
 
  