@CHARSET "UTF-8";
<style type="text/css">

html{
	
}
body{
	background-color:silver;
}

h4{
	color:green;
	text-align: center;
}
p{
	color:black;
}
form{
	color:black;
	background-color:purple;
}
input{
	background-color:green;
	color:white;
}
.setup {
	background-color:#5F9F9E;
	color:white;
	a:active {color:blue;}
	a:hover {color:yellow;}
	
}
	
p.emphasis {
	font:bold;
	color:red;
	font-size:14pt;
}
#idBig18{
	font-size:25px;
}

#reserve100x100img{
	height:100px;
	width:100px;
	background:olive;
	float:left;
}
#reserve100x100img:hover{
	height:300px;
	width:100px;
	background:white;
	float:left;
}
#copyright{
	color:black;
	font-size:8px;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
</style>